@import "../../../styles/helpers";

.donutLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: left;
  //margin: 0 auto;

  .label {
    display: flex;
    align-items: center;
    margin-top: 13px;
  }
}



//.adjustHeight {
//  height: 100%;
//
//  @media (max-width: 1280px) {
//  height: auto;
//  }
//}
